$primary: #007bff;
$secondary: #6c757d;
$success: #ffc280;
$info: #28a745;
$warning: #17a2b8;
$danger: #dc3545;
$white: white;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;